@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    color: #2c2d33;
    font-family: 'Questrial', 'Helvetica', Arial, sans-serif;
    padding-top: 50px;
    padding-top: 70px;
}

.errorlist {
    padding: 0;
    list-style-type: none;
}

.button-dark {
    background-color: #303030;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    height: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.button-gray {
    background-color: #d1d1d1;
    border: none;
    border-radius: 0;
    color: #303030;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.button-light {
    background-color: #f9f9f9;
    border: none;
    border-radius: 0;
    color: #aaa;
    font-size: 13px;
    height: 40px;
    letter-spacing: 0.04em;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.navbar {
    background-color: #fff;
    border: none;
    color: #303030;
    height: 70px;
}

.navbar-shadow {
    box-shadow: 0 1px 5px 0 rgba(30, 30, 30, .35);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    color: #303030;
    font-weight: bold;
    letter-spacing: .1em;
    padding-top: 25px;
}

.navbar .nav-shop {
    margin-left: 5px;
}

.navbar .nav-shop>li>a {
    color: #303030;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em;
    margin-left: 10px;
    padding-bottom: 24px;
    padding-top: 26px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #303030;
    background-color: #fff;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    opacity: 1;
}

.navbar .dropdown-menu {
    background-color: #303030;
    font-size: 12px;
    padding: 25px 30px 15px 30px;
    text-transform: uppercase;
}

.navbar .dropdown-menu li a {
    color: #999;
    line-height: 40px;
    padding: 0;
}

.navbar .dropdown-menu li a:hover {
    color: #eee;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.navbar .dropdown-menu li a.header {
    color: #eee;
    line-height: 25px;
}

.navbar .divider {
    background-color: #444;
}

.navbar-nav>li>a {
    padding-top: 25px;
}

.navbar .glyphicon {
    color: #303030;
}

.navbar .bag {
    background-image: url('../image/bag.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 15px;
}

.navbar .bag .bag-badge {
    background-color: #303030;
    color: #f8f8f8;
    margin-left: 5px;
    padding: 3px 4px 2px 5px;
}

/**************************************
 Category view
**************************************/
.page-title {
    background-color: #f6f6f6;
    font-size: 24px;
    height: 180px;
    letter-spacing: 2px;
    line-height: 180px;
    text-transform: uppercase;
    vertical-align: middle;
}

.col-lg-12.crumb-wrap {
    width: auto;
    margin-bottom: 50px;
}

.breadcrumb {
    background-color: #f9f9f9;
    color: #aaa;
    font-size: 12px;
    margin-top: 30px;
    text-transform: uppercase;
}

.breadcrumb a {
    color: #aaa;
}

.product-thumb {
    color: #303030;
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.product-thumb .product-name {
    color: #303030;
}

.product-thumb .price {
    color: #b0b0b0;
    font-size: 20px;
}

/**************************************
Product view
**************************************/
.add-product-form select {
    border: 2px solid #303030;
    border-radius: 0;
    color: #303030;
    font-weight: 700;
    height: 40px;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
    margin-top: 40px;
    word-spacing: 2px;
}

.add-product-form input {
    border: 2px solid #303030;
    border-radius: 0;
    font-weight: 700;
    height: 40px;
    margin-bottom: 20px;
    padding-right: 4px;
    width: 60px;
}

/**************************************
Product view
**************************************/
.cart-table {
    margin-top: 100px;
}

.cart-table>tbody>tr>td, 
.cart-table>tbody>tr>th,
.cart-table>thead>tr>td,
.cart-table>thead>tr>th {
    border-bottom: 2px solid #f3f3f3;
    border-top: none;
    font-size: 16px;
    padding: 5px 20px;
    vertical-align: middle;
}

.cart-table>thead>tr>th {
    background-color: #eeeff0;
    border-bottom: none;
    font-size: 13px;
    padding: 12px 20px;
    text-transform: uppercase;
}

.cart-table .thumb-col {
    width: 200px;
}

.item-details {
    color: #949392;
    font-size: 14px !important;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 25px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.item-details a {
    color: #303030;
    font-size: 13px;
    font-weight: 700;
}

.cart-table input {
    border: 2px solid #303030;
    border-radius: 0;
    font-weight: 700;
    height: 40px;
    padding-right: 4px;
    width: 60px;
}

.cart-table .glyphicon {
    color: #303030;
    font-size: 20px;
}

.totals-wrapper {
    border: 2px solid #303030;
    font-size: 17px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px 30px;
}

.totals-wrapper .row {
    padding-bottom: 10px;
    padding-top: 10px;
}

.checkout-wrapper .checkout-nav-row {
    height: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.checkout-wrapper textarea.form-control {
    height: 100px;
}

.anchor-button {
    background: none;
    border: none;
    color: #337ab7;
    margin: none;
    padding: none;
}
.anchor-button:hover {
    color: #005580;
    text-decoration: underline;
}

.confirm-wrapper {
    font-size: 15px;
    padding-top: 80px;
}

.large-glyph {
    font-size: 95px;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 200px;
    padding-bottom: 50px;
    padding-top: 60px;
}

.footer .card-logo-wrapper {
    padding-bottom: 12px;
    padding-top: 40px;
}

.page-bottom {
    background-color: #f6f6f6;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.page-bottom a {
    color: #303030;
    text-transform: uppercase;
}

.mask-content {
  color: #252525;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  visibility: hidden;
  text-transform: uppercase;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mask-wrapper:hover .mask-content {
  background: rgba(255, 255, 255, 0.5);
  visibility: visible;
  opacity: 0.9;
}

.modal-sm {
    width: 400px;
}