<div class="totals-wrapper">
    <div class="row">
        <div class="col-lg-6 text-left">
            Item Total:
        </div>
        <div class="col-lg-6 text-right js-total-item">
            ${{ request.session.cart.item_total|floatformat:2 }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-left">
            Shipping:
            {% if shipping_calc %}<br/>
                <a href="#" data-toggle="modal" data-target=".shipping-calc-modal">
                    <small><em>Calculate Cost</em></small>
                </a>
            {% endif %}
        </div>
        <div class="col-lg-6 text-right js-total-shipping"> 
            ${{ request.session.cart.shipping|floatformat:2 }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-left">
            Order Total:
        </div>
        <div class="col-lg-6 text-right js-total-order">
        ${{ request.session.cart.order_total|floatformat:2 }}
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if button_type = 'form' %}
                <input type="submit" class="btn btn-default form-control button-dark" value="{{ button_text }}"></input>
            {% else %}
                <a href="{{ button_url }}">
                    <button class="btn btn-default form-control button-dark">{{ button_text }}</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>

