{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid page-title text-center">
        Shopping Bag
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    {% csrf_token %}
                    <table class="table cart-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="thumb-col"></td>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </td>
                                    <td class="thumb-col">
                                        <a href="/product/{{ item.url }}">
                                            <img src="{{ item.image }}" class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="details-col">
                                        <a href="/product/{{ item.url }}">{{ item.product }}</a>
                                        <br/>{{ item.variation }}
                                        <br/>${{ item.price|floatformat:2 }}
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" value="{{ item.quantity }}"></input>
                                    </td>
                                    <td>
                                        ${{ item.line_total|floatformat:2 }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

{% endblock %}