{% extends 'base.html' %}

{% block content %}
    
    <div class="container-fluid page-title text-center">
        {{ category }}
    </div>

    {% include 'includes/breadcrumbs.html' %}
    
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-thumb">
                    <a href="/product/{{ product.slug }}">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <img src="{{ product.main_img.image.url }}" class="img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-10 col-lg-offset-1 product-name">{{ product.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-10 col-lg-offset-1 price">{{ product.price_range }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}