{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid page-title text-center">
        Checkout / {{ wizard.steps.current }}
    </div>

    <div class="container checkout-wrapper">
        <div class="row">
            <form method="post" class="shipping-form">
                <div class="col-lg-6">
                    {% block checkout_form %}
                    {% endblock %}
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                    {% include 'includes/totals.html' with button_type='form' button_text=button_text %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}