{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'image/front01.jpg' %}" class="img-responsive">
        </div>
    </div>
    
    <div class="container margin-top-lg">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 mask-wrapper text-center">
                <a href="/canine/petite/collars/">
                    <img src="{% static 'image/front02.jpg' %}" class="img-responsive">
                    <span class="mask-content img-responsive">Shop Puppy</span>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 mask-wrapper text-center">
                <a href="/canine/petite/collars/">
                    <img src="{% static 'image/front03.jpg' %}" class="img-responsive">
                    <span class="mask-content img-responsive">Shop Accessories</span>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 mask-wrapper text-center">
                <a href="/canine/petite/collars/">
                    <img src="{% static 'image/front04.jpg' %}" class="img-responsive">
                    <span class="mask-content img-responsive">Shop Leashes</span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}