{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid page-title text-center">
        {{ product.name }}
    </div> 

    <div class="container">
        <div class="row">
            <div class="col-lg-12 crumb-wrap">
                <ol class="breadcrumb">
                    <li>Shop</li>
                    {% for category in crumbs %}
                        <li>
                            <a href='/category/{{ category.1 }}'>{{ category.0 }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src='{{ product.main_img.image.url }}' class='img-responsive'>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-12" style="height:1000px">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}