{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid page-title text-center">
        {{ product.name }}
    </div> 

    <div class="container">
        <div class="row">
            <div class="col-lg-12 crumb-wrap">
                <ol class="breadcrumb">
                    <li>Shop</li>
                    {% for category in crumbs %}
                        <li>
                            <a href='/category/{{ category.1 }}'>{{ category.0 }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src='{{ product.main_img.image.url }}' class='img-responsive'>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-12 text-right h2">$22.00</div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ product.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="add-product-form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="{{ form.variation.id_for_label }}">Size</label>
                                {{ form.variation }}
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label class="sr-only" for="{{ form.quantity.id_for_label }}">Quantity</label>
                                        {{ form.quantity }}
                                    </div>
                                    <div class="col-lg-3 col-lg-offset-7 text-right">
                                        <button type="submit" class="btn btn-default form-control button-dark">Add to Bag</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}