{% extends 'checkout.html' %}

{% block button_text %}
    Place Order
{% endblock %}

{% block checkout_form %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Enter payment information...</h3>
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if form.non_field_errors %}
                <div class="alert alert-danger js-payment-errors" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ wizard.form.cc_name.label_tag }}
                <div class="text-danger">{{ form.cc_name.errors }}</div>
                {{ wizard.form.cc_name }}
            </div>
            <div class="form-group">
                <label for="js-cc-number" class="control-label">Card Number:</label>
                <div class="text-danger"></div>
                <input id="js-cc-number" type="tel" class="form-control gray-outline" data-stripe="number" autocomplete="cc-number" placeholder="---- ---- ---- ----" required>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="js-cc-exp" class="control-label">Card Expiration (MM / YY):</label>
                    <div class="text-danger"></div>                
                    <input id="js-cc-exp" type="tel" class="form-control gray-outline" data-stripe="exp" autocomplete="cc-exp" placeholder="-- / --" required>
                </div>
                <div class="form-group col-lg-6">
                    <label for="js-cc-cvc" class="control-label">CVC Code:</label>
                    <div class="text-danger"></div>
                    <input id="js-cc-cvc" type="tel" class="form-control gray-outline" data-stripe="cvc" autocomplete="off" placeholder="---" required>
                </div>
            </div>
            <div class="form-group">
                {{ wizard.form.postal.label_tag }}
                <div class="text-danger">{{ form.postal.errors }}</div>
                {{ wizard.form.postal }}
            </div>
        </div>
    </div>
{% endblock %}