{% extends 'checkout.html' %}

{% block button_text %}
    Place Order
{% endblock %}

{% block checkout_form %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Enter payment information...</h3>
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="form-group">
                {{ wizard.form.cc_name.label_tag }}
                {{ wizard.form.cc_name }}
            </div>
            <div class="form-group">
                <label>Card Number:</label>
                <input class="form-control gray-outline"></input>
            </div>
            <div class="form-group">
                    <label>Expiration Month:</label>
                    <select class="form-control gray-outline" id="js-exp-month">
                    </select>
            </div>
            <div class="form-group">
                <label>Expiration Year:</label>
                <select class="form-control gray-outline" id="js-exp-year">
                </select>
            </div>
            <div class="form-group">
                {{ wizard.form.postal.label_tag }}
                {{ wizard.form.postal }}
            </div>
        </div>
    </div>
{% endblock %}