{% extends 'checkout.html' %}

{% block page_title %}
    Checkout / Shipping - 
{% endblock %}

{% block button_text %}
    Continue to payment
{% endblock %}

{% block checkout_form %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Enter shipping information...</h3>
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ wizard.form.customer_name.label_tag }}
                <div class="text-danger">{{ form.customer_name.errors }}</div>
                {{ wizard.form.customer_name }}
            </div>
            <div class="form-group">
                {{ wizard.form.customer_street.label_tag }}
                <div class="text-danger">{{ form.customer_street.errors }}</div>
                {{ wizard.form.customer_street }}
            </div>
            <div class="form-group">
                {{ wizard.form.customer_city.label_tag }}
                <div class="text-danger">{{ form.customer_city.errors }}</div>
                {{ wizard.form.customer_city }}
            </div>
            <div class="form-group">
                {{ wizard.form.customer_state.label_tag }}
                <div class="text-danger">{{ form.customer_state.errors }}</div>
                {{ wizard.form.customer_state }}
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-6">
                    {{ wizard.form.customer_nation.label_tag }}
                    <div class="text-danger">{{ form.customer_nation.errors }}</div>
                    {{ wizard.form.customer_nation }}
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-6">
                    {{ wizard.form.customer_postal.label_tag }}
                    <div class="text-danger">{{ form.customer_postal.errors }}</div>
                    {{ wizard.form.customer_postal }}
                </div>
            </div>
            <div class="form-group">
                {{ wizard.form.customer_email.label_tag }}
                <div class="text-danger">{{ form.customer_email.errors }}</div>
                {{ wizard.form.customer_email }}
            </div>
            <div class="form-group">
                {{ wizard.form.customer_phone.label_tag }}&nbsp;&nbsp;
                <small class="text-warning"><em>(Optional)</em></small>
                <div class="text-danger">{{ form.customer_phone.errors }}</div>
                {{ wizard.form.customer_phone }}
            </div>
            <div class="form-group">
                {{ wizard.form.customer_comments.label_tag }}&nbsp;&nbsp;
                <small class="text-warning"><em>(Optional)</em></small>
                <div class="text-danger">{{ form.customer_comments.errors }}</div>
                {{ wizard.form.customer_comments }}
            </div>
        </div>
    </div>
{% endblock %}