{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid page-title text-center">
        Contact Us
    </div> 

    <div class="container info-page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 info-data">
                Order Questions
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                Any questions or comments regarding an order should be sent to <a href="mailto:orders@uptownhoundboutique.com">orders@uptownhoundboutique.com</a>. We guarantee a prompt response from our customer service team. At Uptown Hound Boutique our number one priority is keeping your pets happy and healthy, and we're committed to offering a great shopping and customer support experience to our clients!
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 info-data">
                Other Questions &amp; Comments
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                All other inquiries can be directed to <a href="mailto:hello@uptownhoundboutique.com">hello@uptownhoundboutique.com</a>. We love hearing feedback and suggestions on our website and products. We're always on the lookout for new items - if there's something you'd like to see in our store or you're a pet manufacturer, feel free to drop us a line!
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 info-data">
                Custom Requests
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                Many of our designs can be made to fit custom dimensions, or can be ordered in other product styles such as martingales, half-choke training collars, or tandem leash extensions. Contact us at <a href="mailto:hello@uptownhoundboutique.com">hello@uptownhoundboutique.com</a> to ask about availability and pricing.
            </div>
        </div>
    </div>

{% endblock %}