{% extends 'base.html' %}

{% block page_title %}
    Privacy Policy - 
{% endblock %}

{% block content %}

    <div class="container-fluid page-title text-center">
        Privacy Policy
    </div> 

    <div class="container info-page-wrapper">
        <div class="row">
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                At Uptown Hound Boutique, we are committed to protecting the privacy of our customers. Any personal information you provide to us will only be used for the sole purpose of fulfilling your order. We do not sell, rent, or loan any personal customer information to any third party.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                Information We Collect &amp; How We Use It
            </div>
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                In order to process your order, we collect the following information: name, shipping address, email address, phone number, billing zip code, and credit card number ("Personal Information") when you place an order with us. Credit card numbers and billing information are used only during payment processing and are never stored by us or by our payment processor, Stripe.com. The remaining customer shipment information we collect is used solely by Uptown Hound Boutique to fulfill orders and is stored securely using industry best practices to prevent loss, disclosure, misuse or alteration.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                Use of Cookies
            </div>
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                We use Google Analytics to examine basic user information such as language and time spent on our site. Google Analytics is a web analysis service provided by Google that uses cookies to track and generate reports on site usage. Cookies are small pieces of information stored locally by your browser, and are considered standard technology used by most major Web sites. These cookies do not store any personal information such as name, address, email or phone number. Most browsers accept cookies automatically and provide an option to disable default cookie behavior. Google may use the data collected from our site to contextualize and personalize the ads in its advertising network. You can find more information on Google’s privacy policy at <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">http://www.google.com/intl/en/policies/privacy/</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                Your Acceptance of the Privacy Policy
            </div>
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                By using our Web site, you agree to accept the Uptown Hound Boutique privacy policy. Please read this policy carefully. By choosing to use our Web site, you automatically agree to this policy. If you do not agree to this policy, please do not use our Web site. We reserve the right to change, modify, add, or remove these terms at our discretion.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                Questions &amp; Contact Information
            </div>
            <div class="col-xs-12 cold-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                Please email hello@uptownhoundboutique.com if you have questions regarding these policies or would like to access, correct, amend or delete any of your personal information we may have collected for order processing.
            </div>
        </div>
    </div>

{% endblock %}