{% extends 'base.html' %}

{% block page_title %}
    Shipping &amp; Returns - 
{% endblock %}

{% block content %}

    <div class="container-fluid page-title text-center">
        Shipping &amp; Returns
    </div> 

    <div class="container info-page-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                Domestic Orders
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <p>Domestic orders are shipped USPS best rate. This is typically First Class Mail for smaller orders, and Priority Mail for larger orders weighing more than 13 ounces. Average delivery times are 3-5 business days.</p>
                <p>The following locations are eligible for domestic shipping rates: United States, Canada, American Samoa, Micronesia, Guam, Marshall Islands, Northern Mariana Islands, Puerto Rico, Palau, and US Virgin Islands.</p>
                <p>Rates:<br/>
                    Orders up to $25 - $3.00 flat rate<br/>
                    Orders up to $50 - $5.00 flat rate<br/>
                    Orders up to $75 - $6.00 flat rate<br/>
                    Orders up to $100 - $7.00 flat rate<br/>
                    Orders over $100 - $9.00 flat rate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                International Orders
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <p>International orders are shipped USPS best rate. Delivery times for international First Class Mail and Priority Mail are approximately 10-14 business days. Delivery times and customs processing can vary from country to country and may result in additional shipping delays. Buyers are responsible for any and all customs, duties, or taxes imposed by their country.</p>
                <p>Rates:<br/>
                    Orders up to $25 - $5.00 flat rate<br/>
                    Orders up to $50 - $8.00 flat rate<br/>
                    Orders up to $75 - $9.00 flat rate<br/>
                    Orders up to $100 - $10.00 flat rate<br/>
                    Orders over $100 - $12.00 flat rate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                Expedited &amp; Alternate Shipping Options
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                If you would like expedited shipping or have a preferred shipping carrier, please contact us prior to placing your order to check for availability and pricing.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 info-data">
                Returns &amp; Exchanges
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <p>We want you and your pets to be 100% satisfied with your order. In the event of an issue with your purchase, we are happy to offer exchanges or accept returns for unwanted items. Items returned for reasons other than a product defect or mistake made by our store must have the original tags and be in new, unworn condition. Buyers are responsible for return shipping costs.</p>
                <p>Shipping and handling on returned merchandise is non-refundable.</p>
                <p>Special order items or discontinued designs may not be returned or exchanged, except in cases of product defect. Please make sure to carefully measure your pet prior to ordering to ensure a proper fit.</p>
                <p>Questions regarding exchanges or returns can be directed to returns@uptownhoundboutique.com.</p>
            </div>
        </div>
    </div>

{% endblock %}