<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Thanks for your Uptown Hound Boutique order!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            @import url(http://fonts.googleapis.com/css?family=Questrial);

            body {
                font-family: 'Questrial', Helvetica, Arial, sans-serif;
                font-size: 16px;
            }

            td {
                padding: 10px;
            }
        </style>
    </head>
    
    <body style="margin:0; padding:0;">
        <table border="0" cellpadding="0" cellspacing="0" width="500" align="center" style="margin:auto;">
            <tr>
                <td style="font-size:19px;letter-spacing:1px;font-weight:bold;">
                    UPTOWN HOUND BOUTIQUE
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.facebook.com/uptownhoundboutique" target="_blank">
                        <img src="https://uptownhoundboutique.com/static/image/social/facebook-32.png">
                    </a>
                    <a href="https://www.pinterest.com/uptownhoundshop/" target="_blank" style="margin-left:10px;">
                        <img src="https://uptownhoundboutique.com/static/image/social/pinterest-32.png">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="font-size:50px;font-weight:bold;">
                    Thank You!
                </td>
            </tr>
            <tr>
                <td style="font-size:24px;">
                    Order #{{ order.id }}  
                </td>
            </tr>
            <tr>
                <td>
                    Your order is being processed. You'll receive an email update with tracking information once it has shipped. You can check your order contents, status, and tracking info any time at <a href="https://www.uptownhoundboutique.com/order-status">uptownhoundboutique.com/order-status</a>.
                </td>
            </tr>
            <tr>
                <td>
                    If you have any questions regarding your order, please contact us at orders@uptownhoundboutique.com.
                </td>
            </tr>
            <tr>
                <td>
                    -------------------------------------------------
                </td>
            </tr>
            <tr>
                <td>
                    {{ order.time }} 
                </td>
            </tr>
            {% for item in order.orderitem_set.all %}
                <tr>
                    <td>
                        {{ item.product.name }} - {{ item.size }} - {{ item.width }} wide<br/>
                        {{ item.quantity }} x ${{ item.price|floatformat:2 }} 
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    Shipping ${{ order.shipping_total|floatformat:2 }}<br/>
                    Order Total ${{ order.order_total|floatformat:2 }}
                </td>
            </tr>
            <tr>
                <td>
                    Shipping to...<br/>
                    {{ order.customer_name }}<br/>
                    {{ order.customer_street }}<br/>
                    {{ order.customer_city }}, {{ order.customer_state }}<br/>
                    {{ order.customer_nation }} {{ order.customer_postal }}
                </td>
            </tr>
        </table>
    </body>
</html>